@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-sans: sans-serif;
  --font-mono: 'JetBrains Mono', monospace;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}

.fade-slide-enter-active,
.fade-slide-leave-active {
  transition: opacity 250ms ease, transform 250ms ease;
}

.fade-slide-enter-from,
.fade-slide-leave-to {
  opacity: 0;
  transform: translateY(8px);
}
